body{
    background-color: gray;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
}

.container{
    background-color:#ffffff;
}

.responsive{
    align:center;
    width:100%;
    max-width:1100px;
    height:auto;
}